html,
body {
  background-image: url('images/BackgroundImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #19141A;
}

body {
  color: #fff;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
} 

.btn-secondary,
.btn-secondary:focus {
  color: #19141A;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
} 

.btn-secondary:hover {
  background-color: #19141A;
}

.icon {
  opacity: 0.6;
}

.icon:hover {
  opacity: 1;
}
