html,
body {
  background-color: #222027;
}

body {
  color: #fff;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .5);
} 

.btn-secondary,
.btn-secondary:focus {
  color: #222027;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
} 

.btn-secondary:hover {
  background-color: #222027;
}